<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>

    <%- include('partials/header.ejs') %>
    
    <section class="container">
        <%- include('partials/navbar.ejs') %>

        <article class="content">
            <h1>Seja bem vindo!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas deleniti, cum animi totam velit expedita quam alias facilis eius, ullam placeat magni odit! Molestiae veritatis quasi praesentium quos numquam soluta!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quos in eligendi alias nesciunt ab totam voluptas nam autem doloribus ea error sunt laudantium quis ipsam explicabo, ullam laboriosam repellat?</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi distinctio explicabo molestias reprehenderit delectus impedit exercitationem voluptatum hic aliquam aperiam iste ab ipsam blanditiis, animi consequuntur, id magni dolorem rem.</p>
        </article>

    </section>


    <%- include('partials/footer.ejs') %> 

    <%- include('partials/foot.ejs') %> 
   
</body>
</html>